/*******************
    RESET GENERALE
*******************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**************
    NAVBAR 
**************/

/* Container navbar */
.navbar {
    background-color: #1e293b;
    padding: 1.3rem 2rem;
}

/* Lista link navbar */
.navbar-list {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

/* link */
.nav-link {
    text-decoration: none;
    color: #f1f5f9;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.2s ease;
    position: relative;
}

/* link in hover */
.nav-link:hover {
    color: #38bdf8;
    transform: translateY(-2px);
}

/* link attivo */
.nav-link.active {
    color: #0ea5e9;
    font-weight: 600;
}

/* sottolineatura per l'active */
.nav-link.active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -4px;
    background-color: #0ea5e9;
}

/*******************
    TABELLA TASK
*******************/

/* Container tabella */
table {
    width: 80%;
    margin: 2rem;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

/* Header tabella*/
thead {
    background-color: #1e293b;
    color: #ffffff;
}

th {
    padding: 14px 18px;
    text-align: left;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
}

/* Celle */
td {
    padding: 12px 18px;
    font-size: 0.9rem;
    color: #334155;
}

/* Linea divisoria tra righe */
tbody tr {
    border-bottom: 1px solid #e2e8f0;
}

/* Alternanza righe */
tbody tr:nth-child(even) {
    background-color: #f8fafc;
}

/* Hover riga */
tbody tr:hover {
    background-color: #e0f2fe;
    transition: background-color 0.2s ease;
}

/*******************
    STATUS STYLE
*******************/

.status {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 0.85rem;
    font-weight: 500;
}

/* To do */
.status.to-do {
    background-color: #fee2e2;
    color: #b91c1c;
}

/* Doing */
.status.doing {
    background-color: #fef9c3;
    color: #854d0e;
}

/* Done */
.status.done {
    background-color: #dcfce7;
    color: #166534;
}