/*******************
    RESET GENERALE
*******************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**************
    NAVBAR 
**************/

/* Container navbar */
.navbar {
    background-color: #1e293b;
    padding: 1.3rem 2rem;
}

/* Lista link navbar */
.navbar-list {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

/* link */
.nav-link {
    text-decoration: none;
    color: #f1f5f9;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.2s ease;
    position: relative;
}

/* link in hover */
.nav-link:hover {
    color: #38bdf8;
    transform: translateY(-2px);
}

/* link attivo */
.nav-link.active {
    color: #0ea5e9;
    font-weight: 600;
}

/* sottolineatura per l'active */
.nav-link.active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -4px;
    background-color: #0ea5e9;
}